@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html, body {
  height: 100%;
  width: 100%;
}
html {
  background-color: black;
  display: table;
}
body {
  background-image: url("https://cdn.discordapp.com/attachments/879046991101960232/879047200657801286/descarga.png");
  transition: background-image 1s ease-in-out;
  font-family: monospace;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: #ccccc;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
}
.container {
  width:35%;
  max-width:1000px;
  min-width: 250px;
}

.main {
  font-family: monospace;
  background-color: #ffffff00;
  backdrop-filter: blur(3px);
  border-radius: 5px;
  padding: 10px;
  margin-top: 10%;
}
.title {
  font-family: monospace;
  color: black;
  font-size: 30px;
}

.p {
  font-size: 20px;
}

.jajaborde{
  border-radius: 16%;
  height: 4px;
  width: 100px;
  margin: 0px auto;
  background-color: #9175D8;
  margin-bottom: 37px;
  margin-top: 5px;
}
